{% extends 'lists/base.html' %}
{% load staticfiles %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
	<h2 class='list-title'>User name</h2>
	<form action="/lists/add" method="POST">
		{% csrf_token %}
		{{ form }}
	</form>
	<div class="list-container">
	{% for list in lists %}
		<div class='list-item-container'>
			<a href="{{ list.get_absolute_url }}">
				{{ list.name }}
			</a>
			<!-- <img class="list-item-delete" src="{% static 'svg/cross.svg' %}" alt=""> -->
			<span class='list-item-data'>
				<!-- {{ item.time_since_creation }} -->
			</span>
		</div>
		{% endfor %}
	</div>
{% endblock %}